/**
 * CONTENTS
 *
 * BASE
 * Común..................Estilo Body, H1, H2.
 *
 * COMPONENTS / PAGES
 * Footer.................Sección footer.
 */

 body {
  background-image: linear-gradient(180deg, #f2b862 0, rgba(242, 184, 98, 0) 320px), linear-gradient(0deg, #fffaf4 50%, #fffaf4);
  background-repeat: no-repeat;
  color: $uf-corporate;
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
  max-width: 1024px;
  padding: 30px 15px 70px;
}

.purple-gradient {
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
}


/*------------------------------------*\
  #SECTION-FOOTER
\*------------------------------------*/

.footer__contenido1 {
  background-color: $uf-footer1;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
