@use 'sass:color';

$font-family-sans-serif: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: 'Georgia','Times New Roman',serif;

$uf-corporate: #3c3838;
$uf-footer1: #e6e6fa;
$uf-footer-hover: #639;

$indigo: #6610f2;
$blanco: #fff;



$theme-colors: (
  info: $indigo,
  light: $blanco
);

$border-radius: 0.25rem;


$font-family-sans-serif: Poppins , -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-size-base: 1.1rem;
$line-height-base: 1.6;



$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;


@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}

@mixin flex {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  @include media(xs) {
    flex-direction: column;
  }
  @include media(sm) {
    flex-direction: column;
  }
}

